@media screen and (min-width: 320px) and (max-width:480px){
    
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    nav{
        position: relative;
        padding: 0;
        width: 100%;
        padding: 0 40px;
        
    }

    nav > .menu{
        position: fixed;
        height: 50vh;
        width: 100%;
        top: 15%;
        left: -100%;
        background-color: blueviolet;
    }

    nav > #bur{
        font-size: 2rem;
        display: block;
    }
    
    .myleft{
        left: 0%;
    }

    

   


    /* HOMEPAGE */
    .homepage{
        padding-bottom: 0;
    }

    .homepage > section{
        height: 200vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .portrait{
        padding: 20px;
        width: 350px;
    }

    .portrait > img{
        width: 100%;
        height: 400px;

    }

    section > .box{
        width: 100%;
        text-align: start;
        padding: 40px;
        margin: 0;
    }

    .quote > h1{
        width: 100%;
        font-size: 2.5rem;
        line-height: 40px;
        align-self: center;
        text-align: start;
    }

    .box > .paragraph{
        margin: 20px 0;
        padding: 0;
        
    }

    .search-bar{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .search{
        width: 70%;
    }

    

    /* Partners */

    .secondPage > section{
        height: 560vh;
        padding: 0;
    }

    .sPage-con{
        padding: 0;
    }

    .sPage-con .head{
        width: 100%;
        left: 0;
        padding-left: 10%;
    }

    .sPage-con .head  >h1{
        width: 100%;
        font-size: 2rem;

    }

    .sPage-con .head > p{
        width: 80%;
    }
    

    .partners > ul{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .partners > ul > li{
        padding: 10px 10px;
    }

    .partners > ul > li > img{
        height: 50px;
    }

    .sales{
        padding: 0;
    }

    .sales > .sHead{
        width: 100%;
        left: 0;
        padding-left: 10%;
    }

    .sales .sHead > h1{
        font-size: 2rem;
    }

    .sales .sHead > p{
        width: 80%;
        margin: 0;
    }

    .sales-card{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .sales-card > figure{
        width: 250px;
    }


   /* AGENTS */
   .thirdPage{
         height: 350vh;
         width: 100%;
   }

   .T-container > .tHead{
    width: 80%;
    left: 0;
    padding-left: 10%;
   }

   .T-container > .tHead > h1{
    font-size: 2rem;
   }

   .agents-card > ul{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
   }

   .agents-card > ul > li{
    width: 100%;
   }

   .agents-card > ul > li > img{
    height: 200px;
    width: 200px;
   }

   /* ABOUT */
   .fourtPage{
    height: 310vh;
   }

   .f-container > .fHead{
    width: 100%;
    left: 0;
    padding-left: 10%;
   }

   .f-container > .fHead > h1{
    font-size: 2rem;
   }

   .about{
    height: 100%;
   }

   .about > ul{
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    padding: 20px 0;
   }

   .about > ul > li{
    width: 100%;
    margin: 20px 0;
   }

   /* RESERVE */

   .reserve > .r-btn > .btns{
    padding: 0 30px;
   }

   .reserve > .r-btn > .btns h3{
    font-size: 1.5rem;
   }

   .reserve > .r-btn > .btns > button{
    font-size: .8rem;
    width: 50%;
   }


   /* TESTEMONY */

   .testm{
    height: 120vh;
   }

   .testm > .testmHead{
    width: 80%;
    left: 0;
    padding-left: 10%;
   }

   .testm > .testmHead > h1{
    font-size: 2rem;
   }

   .wrapper{
    width: 340px;
   }

   .wrapper > .items{
    width: 340px;
    align-items: center;
   }

   .wrapper > .items > p{
    text-align: center;
    width: 320px;
    padding: 0;
    margin: 20px 0;
   }

   /* CONTACT */

   .contacts{
    height: 300vh;
   }

   section > .conH{
    width: 80%;
    left: 0;
    padding-left: 10%;
   }

   section > .conH > h1{
    font-size: 2rem;
    
   }

   .cont-card{
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px 40px 0;
   }

   /* footer */
   .footer{
    height: 220vh;
   }
   
   footer{
    padding: 0;
    display: flex;
    flex-direction: column;
   }
   
   .abut{
    width: 100%;
    padding: 20px;
   }
   
   .abut > p{
    width: 80%;
   }

   .other-link{
    
    width: 100%;
    padding: 20px;
   }

   .related-links{
    width: 100%;
    padding: 20px;
   }

   .resource{
    width: 100%;
    padding: 20px;
   }
}